<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <style type="text/css">
        BODY {
            font-family: verdana;
        }
    </style>
    <link rel="stylesheet" href="{% static 'music_pro/css/main.css' %}">
</head>

<body>
    <!--HEADER-->
    <header>
        <a href="{% url 'inicio' %}" class="logo">
            <img src="{% static 'music_pro/img/musicprologo.png' %}">
            <h2>MusicPro</h2>
        </a>
        <nav>
            <a href="{% url 'inicio' %}" class="nav-link">Inicio</a>
            <a href="{% url 'productos' %}" class="nav-link">Tienda</a>
            {% if user.is_superuser == 0 %}
            {% if user.is_staff == 0 %}
            <a href="" class="nav-link"> Perfil </a> <!-- Cliente -->
            {% else %}
            <a href="" class="nav-link"> Perfil </a> <!-- Bodega -->
            {% endif %}
            {% else %}
            {% if user.is_staff == 1 %}
            <a href="{% url 'inicioadm' %}" class="nav-link"> Perfil </a><!-- Admin-->
            {% else%}
            <a href="" class="nav-link"> Perfil </a> <!-- Vendedor-->
            {% endif %}
            {% endif %}

            <a href="{% url 'log_out' %}" class="nav-link">Cerrar sesion</a>
        </nav>

    </header>
    <!--FIN HEADER-->

    <div class="container-cart">
        <div class="imgcart"></div>
        <div class="container-cart_main">
            <h1>Detalle de la compra</h1>
            <table class="table-cart">
                    <tr>
                        <th scope="col">N° Orden</th>
                        <td> {{orde}} </td>
                    </tr>
                    <tr>
                        <th scope="col">Fecha</th>
                        <td> {{fech}} </td>
                    </tr>
                    <tr>
                        <th scope="col">Codigo</th>
                        <td> {{cod}} </td>
                    </tr>
                    <tr>
                        <th scope="col">Cuenta</th>
                        <td> {{count}} </td>
                    </tr>
                    <tr>
                        <th scope="col">Monto</th>
                        <td> {{amoun}} </td>
                    </tr>
                    <tr>
                        <th scope="col">estado</th>
                        <td> {{stado}} </td>
                    </tr>
              
            </table>
            <div>
                
                    <input style="display:none ;">
                    <div class="comprar">
                        <a href="{% url 'inicio' %}"><input value="Volver al inicio"></a>
                    </div>


            </div>
        </div>


    </div>


</body>

</html>