<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <style type="text/css">
        BODY {
            font-family: verdana;
        }
    </style>
    <link rel="stylesheet" href="{% static 'music_pro/main.css' %}">
</head>

<body>
    <!--HEADER-->
    <header>
        <a href="{% url 'inicio' %}" class="logo">
            <img src="{% static 'music_pro/img/musicprologo.png' %}">
            <h2>MusicPro</h2>
        </a>
        <nav>
            <a href="{% url 'inicio' %}" class="nav-link">Inicio</a>
            <a href="{% url 'productos' %}" class="nav-link">Tienda</a>
            <a href="" class="nav-link">Cerrar sesion</a>
            <a href="{% url 'carrito' %}" class="nav-link"><img src="{% static 'music_pro/img/carrito.png' %}"></a>
        </nav>

    </header>
    <!--FIN HEADER-->

    <div class="container-cart">
        <div class="imgcart"></div>
        <div class="container-cart_main">
            <h1>Realizar compra</h1>
            <table class="table-cart">
                <thead>
                    <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>

                <tr>
                    <td><img class="img-table" src="img/guitar1.jpg"></td>
                    <td>Guitarra</td>
                    <td>$500</td>
                    <td><input type="number" value="2" class="input-table"></td>
                    <td>$1000</td>
                    <td><button class="eliminar">&#10006;</button></td>
                </tr>
                <tr>
                    <td><img class="img-table" src="img/piano1.jpg"></td>
                    <td>Piano</td>
                    <td>$1000</td>
                    <td><input type="number" value="1" class="input-table"></td>
                    <td>$1000</td>
                    <td><button class="eliminar">&#10006;</button></td>
                </tr>
                <tfoot>
                        <td colspan="4" class="text-right">TOTAL:</td>
                        <th scope="col">
                            <p id="total">$2000</p>
                            
                        </th>
                </tfoot>
            </table>
            <div>
                <form>
                    <input style="display:none ;">
                    <div class="comprar">
                      <input type="submit" value="Comprar">
                    </div>
                    
                    
                </form>
            </div>
        </div>
        

    </div>

    
</body>

</html>