<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta_vendedor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
        BODY {
            font-family: verdana;
        }
    </style>
    <link rel="stylesheet" href="{% static 'music_pro/main.css' %}">
</head>

<body>
    <!--HEADER-->
    <header>
        <a href="{% url 'inicio' %}" class="logo">
            <img src="{% static 'music_pro/img/musicprologo.png' %}">
            <h2>MusicPro</h2>
        </a>
        <nav>
            <a href="{% url 'inicio' %}" class="nav-link">Inicio</a>
            <a href="{% url 'productos' %}" class="nav-link">Tienda</a>
            <a href="" class="nav-link">Cerrar sesion</a>
            <a href="{% url 'carrito' %}" class="nav-link"><img src="{% static 'music_pro/img/carrito.png' %}"></a>
        </nav>

    </header>
    <!--FIN HEADER-->

    <div class="container-prod">
        <div>
            <div class="encabezado-inicio">
                <h2>Consultas</h2>
            </div>


            <div id="divBody" class='flex-container'>

            </div>



        </div>

    </div>
    <footer class="footer">
        <div>
            <p>@LaCabraDoradaCompany</p>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            BindStudents();
        });

        function BindStudents() {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: "http://127.0.0.1:8000/api_VentaBodega/Productos", success: function (result) {

                    var totalCount = result.length;
                    var structureDiv = "";
                    var st = "";
                    for (let i = 0; i < totalCount; i++) {
                        stock(result[i].idProd)
                        structureDiv +=
                        "<div class='table'>" +
                                "<tr>"+
              
                                   " <th scope=col 6'>Nombre Producto: </th>"+

                                    "<th scope='col 6'>" + result[i].nombre + "</th>" +
                                    
                                    "<img class='flex-item__img' scope='col 4' src='" + result[i].img + "'>" +

                                    "<th id='" + result[i].idProd + "'></th>" +

                                    "<th>" + result[i].precio + "</th>" +
                                    
                                    "<button>Consultar el producto</button>" +


                                "</tr>"+

                            "</thead>"+
                            "</div>"


                            
            
                    }

                    $("#divBody").html(structureDiv);

                }
            });

        }

        function stock(id) {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: "http://127.0.0.1:8000/api_VentaBodega/Producto/" + id + "", success: function (result) {

                var structureDiv = "";
                structureDiv =
                    "<h3> Stock Disponible: " + result.stock + "</h3>"
                console.log(result)
                $("#" + id).html(structureDiv);
            }
        });

        }
    </script>
</body>



</html> 