<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link tipe="text/css" rel="stylesheet" href="{% static 'music_pro/css.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Estado de transaccion</title>

    <!--<link rel="icon" type="image/png" href="">-->

</head>

<body class="back">
  <center>
    <h1 style="color: white;"> Estado de compra </h1>
  </center>
    <div class="pagar">
  <h5> Su transaccion fue realizada con 
    {% if stado == 'AUTHORIZED' %}
    <b>Exito</b>
    {% endif %}
  </h5><br>
  <table class="tabla">
    <tr>
      <th class="th11" colspan="2"> Detalle de la compra: </th>
    </tr>
    <tr>
      <th class="th2"> Monto: </th>
      <td class="th2"> {{amoun}}</td>
    </tr>
    <tr>
      <th class="th2"> N° Orden: </th>
      <td class="th2"> {{orde}}</td>
    </tr>
    <tr>
      <th class="th2"> fecha: </th>
      <td class="th2"> {{fech}}</td>
    </tr>
    <tr>
      <th class="th2"> Realizada con: </th>
      <td class="th2"> {{type}} </td>
    </tr>
    <tr>
      <th class="th2"> codigo de autorizacion: </th>
      <td class="th2"> {{cod}} </td>
    </tr>
    <tr>
      <th class="th2"> Cuenta: </th>
      <td class="th2"> {{count}} </td>
    </tr>
  </table>
</div>

</body>

</html>