<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'music_pro/main.css' %}">
    <title>Login</title>
    <style type="text/css"> BODY{ font-family: verdana; } </style>
</head>
<body>
    <div class="container-login">
        <div class="login-left"></div>
        
        <div class="login-right">
            {% if messages %}
            <div style="text-align: center;" class="alert alert-warning alert-dismissible fade show">
                {% for x in messages %}
                <h3>{{ x }}</h3><br>
                {% endfor %}
            </div>
            {% endif %}
            <div class="login-box">
                <img src="{% static 'music_pro/img/user.png' %}" class="login-img">
                <h1>Inicio de sesion</h1>
                <form class="form" action="{% url 'iniciar_sesion' %}" method="POST" id="inicio_sesion">
                    {% csrf_token %}
                    <div class="form__section">
                        <input class="form__input" id="email" name="email" type="email" placeholder="Ingrese su email">
                    </div>
                    <div class="form__section">
                        <input class="form__input" id="contra" name="contra" type="password" placeholder="Ingrese su contraseña">
                    </div>
                    <div class="form__section">
                        <input type="submit" class="form__input" value="Iniciar sesión">
                    </div>
                    <div class="form__section">
                        <a href="{% url 'registro' %}">Ir a registro</a>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
   
    
</body>
</html>