<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link tipe="text/css" rel="stylesheet" href="{% static 'music_pro/css.css' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title> Pagar </title>

  <!--<link rel="icon" type="image/png" href="">-->

</head>

<body class="back">


<center>
  <h1 style="color: white;"> Pagar </h1>
</center>
  <div class="pagar">
    <table class="tabla">
      <tr>
        <th class="th">Nombre Producto</th>
        <th class="th">Cantidad</th>
        <th class="th">Valor por unidad </th>
        <th class="th">Sub total</th>

      </tr>
      {% for i in carrito %}
      <tr>
        <td class="th"> {{i.producto.nombre}}</td>
        <td class="th">{{i.cantidad}}</td>
        <td class="th">{{i.precioUnidad}}</td>
        <td class="th">{{i.subtotal}} </td>

      </tr>
      {% endfor %}
      <tr>
        <td class="th1" colspan="3"><b>Total: </b></td>
        <td class="th11"><b>${{total.total}}</b></td>
      </tr>
    </table>
    <p></p>
    <form method="post" action="{{ur}}">
      <center>
        <label> El monto total de su compra es de: <b>${{total.total}}</b> </label><br>
        <input type="hidden" name="token_ws" value="{{tok}}" />

        <button type="submit" class="btn btn-primary">Pagar</button>
      </center>
    </form>
  </div>
</body>

</html>