<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
        BODY {
            font-family: verdana;
        }
    </style>
    <link rel="stylesheet" href="{% static 'music_pro/css/main.css' %}">
</head>

<body>
    <!--HEADER-->
    <header>
        <a href="{% url 'inicio' %}" class="logo">
            <img src="{% static 'music_pro/img/musicprologo.png' %}">
            <h2>MusicPro</h2>
        </a>
        <nav>
            <a href="{% url 'inicio' %}" class="nav-link">Inicio</a>
            {% if user.is_superuser == 0 %}
           {% if user.is_staff == 0 %}
           <a href="" class="nav-link"> Perfil </a> <!-- Cliente -->
           {% else %}
           <a href="" class="nav-link"> Perfil </a> <!-- Bodega -->
           {% endif %}
           {% else %}
           {% if user.is_staff == 1 %}
           <a href="" class="nav-link"> Perfil </a><!-- Admin-->
           {% else%}
           <a href="" class="nav-link"> Perfil </a> <!-- Vendedor-->
           {% endif %}
           {% endif %}
            <a href="" class="nav-link">Cerrar sesion</a>
            <a href="{% url 'carrito' user.username %}" class="nav-link"><img
                    src="{% static 'music_pro/img/carrito.png' %}"></a>
        </nav>

    </header>
    <!--FIN HEADER-->

    <div class="container-prod">
        <div>
            <div class="encabezado-inicio">
                <h2>Productos</h2>
            </div>


            <div class="store-wrapper">

                <div class="category-list">
                    <a href="#" class="category_item" category="all">Todo</a>
                    {% for i in categoria %}
                    <a href="#" class="category_item" category="{{ i.idCategoria }}">{{ i.nombreCategoria}}</a>
                    {% endfor %}
                    
                    <h2>Marcas:</h2>
                    {% for e in marca %}
                    <a href="#" class="marca_item" marca="{{ e.idMarca }}">{{ e.nombreMarca }}</a>
                    {% endfor %}
                </div>



                

                <div id="divBody" class='flex-container_store'>

                </div>



            </div>

        </div>
    </div>
    <footer class="footer">
        <div>
            <p>@LaCabraDoradaCompany</p>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            productos();
            $('.category-list .category_item[category="all"]').addClass('ct_item_active');

            $('.category_item').click(function () {
                var catProdu = $(this).attr('category');

                $('.category_item').removeClass('ct_item_active');
                $('.marca_item').removeClass('ct_item_active');
                $(this).addClass('ct_item_active');

                $('.flex-item').hide();

                cate(catProdu);
            });
            $('.marca_item').click(function () {
                var marProdu = $(this).attr('marca');

                $('.category_item').removeClass('ct_item_active');
                $('.marca_item').removeClass('ct_item_active');
                $(this).addClass('ct_item_active');
                $('.flex-item').hide();

                marca(marProdu);

            });

            $('.category_item[category="all"]').click(function () {
                productos();
            });

        });

        function productos() {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: "http://127.0.0.1:8000/api_VentaBodega/Productos", success: function (result) {

                    var totalCount = result.length;
                    var structureDiv = "";
                    var st = "";
                    for (let i = 0; i < totalCount; i++) {
                        stock(result[i].idProd)
                        num = result[i].precio
                        structureDiv +=
                        "<form action='{% url 'agregarcarrito' %}' method='GET'>" +
                       
                       "<div class='flex-item' category='" + result[i].categoria + "'>" +
                       "<img class='flex-item__img' src='" + result[i].img + "'>" +
                       "<h3>" + result[i].nombre + "</h3>" +
                       "<div id='" + result[i].idProd + "'></div>" +
                       "<h4>" + result[i].precio + "</h4>" +
                       "<input type='hidden' value='" + result[i].precio + "' type='number' id='precio' name='precio' />" +
                       "<input type='hidden' value='" + result[i].idProd + "' type='number' id='id_pro' name='id_pro' />" +
                       "<input type='hidden' value='{{ user.username }}' type='text' id='usuario' name='usuario' />" +
                       "<input  value='1' min='1' type='number' id='cantidad' name='cantidad' />" +
                       "<button type=submit> Agregar al carrito </button>" +
                       "</div>" +
                       "</form>"


                    }

                    $("#divBody").html(structureDiv);

                }
            });

        }

        function stock(id) {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: "http://127.0.0.1:8000/api_VentaBodega/Producto/" + id + "", success: function (result) {

                    var structureDiv = "";
                    structureDiv =
                        "<h3> Stock Disponible: " + result.stock + "</h3>"
                    console.log(result)
                    $("#" + id).html(structureDiv);
                }
            });

        }

        function cate(id) {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: "http://127.0.0.1:8000/api_VentaBodega/Categoria/" + id + "", success: function (result) {

                    var totalCount = result.length;
                    var structureDiv = "";
                    for (let i = 0; i < totalCount; i++) {
                        stock(result[i].idProd)
                        structureDiv +=

                            "<form action='{% url 'agregarcarrito' %}' method='GET'>" +
                       
                            "<div class='flex-item' category='" + result[i].categoria + "'>" +
                            "<img class='flex-item__img' src='" + result[i].img + "'>" +
                            "<h3>" + result[i].nombre + "</h3>" +
                            "<div id='" + result[i].idProd + "'></div>" +
                            "<h4>" + result[i].precio + "</h4>" +
                            "<input type='hidden' value='" + result[i].precio + "' type='number' id='precio' name='precio' />" +
                            "<input type='hidden' value='" + result[i].idProd + "' type='number' id='id_pro' name='id_pro' />" +
                            "<input type='hidden' value='{{ user.username }}' type='text' id='usuario' name='usuario' />" +
                            "<input  value='1' min='1' type='number' id='cantidad' name='cantidad' />" +
                            "<button type=submit> Agregar al carrito </button>" +
                            "</div>" +
                            "</form>"




                    }

                    $("#divBody").html(structureDiv);
                }
            });
        }

        function marca(id) {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: "http://127.0.0.1:8000/api_VentaBodega/Marca/" + id + "", success: function (result) {

                    var totalCount = result.length;
                    var structureDiv = "";
                    for (let i = 0; i < totalCount; i++) {
                        stock(result[i].idProd)
                        structureDiv +=

                            "<form action='{% url 'agregarcarrito' %}' method='GET'>" +
                           
                            "<div class='flex-item' marca='" + result[i].marca + "'>" +
        
                            "<img class='flex-item__img' src='" + result[i].img + "'>" +
                            "<h3>" + result[i].nombre + "</h3>" +
                            "<div id='" + result[i].idProd + "'></div>" +
                            "<h4>" + result[i].precio + "</h4>" +
                            "<input type='hidden' value='" + result[i].precio + "' type='number' id='precio' name='precio' />" +
                            "<input type='hidden' value='" + result[i].idProd + "' type='number' id='id_pro' name='id_pro' />" +
                            "<input type='hidden' value='{{ user.username }}' type='text' id='usuario' name='usuario' />" +
                            "<input  value='1' min='1' type='number' id='cantidad' name='cantidad' />" +
                            "<button type=submit> Agregar al carrito </button>" +
                            "</div>" +
                            "</form>"




                    }

                    $("#divBody").html(structureDiv);
                }
            });
        }
    </script>
</body>



</html>